<div class="pagination">
  <ul>
    {{^firstPage}}
      <li>
        <a href="{{prevUrl}}">
          &laquo;
        </a>
      </li>
    {{/firstPage}}
    {{#pages}}
     {{^active}}
        <li>
          <a href="{{url}}">{{title}}</a> 
        </li>
      {{/active}}
      {{#active}}
        <li class="active">
          <a href="{{url}}">{{title}}</a>
        </li>
      {{/active}}
    {{/pages}}
    {{^lastPage}}
      <li>
        <a href="{{nextUrl}}">
          &raquo;
        </a>
      </li>
    {{/lastPage}}
  </ul>
</div>