<script src="{{assetsdomain}}js/scripts.js"></script>
<script src="{{assetsdomain}}js/app.js"></script>
<script>
  new App.Controllers.{{controller}}({
    trackPage: {{config.trackPage}}
  });
</script>