<!--
<div class="container">
  <div class="main">
    <div class="page-header" style="margin-bottom:0">
      <h1>{{page.title}}</h1>
    </div>
    {{{page.body}}}
  </div>
</div>
-->
<div class="container">
  <div class="row-fluid">
    <div class="posts span9">
      {{#posts}}
        <div class="post">
          <h2>
            <a href="{{url}}">{{title}}</a>
          </h2>
          <div class="body">
            {{{body}}}
            <hr />
          </div>
          <footer>
            <section>
              Posted on: {{date}}
              <span style="float:right">
                <a href="{{url}}#disqus_thread"></a>
              </span>
            </section>
            <section>
              Tagged:
              {{#tagModels}}
                <a href="/blog/tag/{{name}}">{{name}}</a>
              {{/tagModels}}
            </section>
          </footer>
        </div>
      {{/posts}}
      {{{pagination}}}
    </div>
    <div class="span3">
      <div class="well" style="padding:8px 0">
        <!--
          <div class="btn-group" data-toggle="buttons-radio">
            <button class="btn active" id="posts-expand">Expanded</button>
            <button class="btn" id="posts-collapse">Collapsed</button>
          </div>
        -->
        <ul class="nav nav-list">
          <li class="nav-header">
            Popular tags
          </li>
          {{#tags}}
            {{^active}}
              <li>
            {{/active}}
            {{#active}}
              <li class="active">
            {{/active}}
            <a href="/blog/tag/{{name}}">{{name}}</a></li>
          {{/tags}}
        </ul>
      </div>
    </div>
  </div>
</div>