{{{breadcrumbs}}}   
<div class="container">

<div class="row">
<div class="posts span8">
  {{#posts}}
      <div class="post">
        <h2>
          <a href="{{url}}">{{title}}</a>
        </h2>
        {{{body}}}
        <hr />
        <div>
          <small>
          Posted on: {{dateCreated}}
          </small>
        </div>
      </div>
  {{/posts}}
</div>
<div class="span2">
nav 
</div>
</div>
</div>