<div class="container entry">
  <div class="main">

    <div class="page-header">
      <h1>{{page.title}}</h1>
    </div>

    {{{page.body}}}

    <div class="row">
      <div class="span5">
        {{#message}}
        <div class="alert alert-{{type}}">
          <button class="close" data-dismiss="alert">×</button>
          <strong>{{friendlytype}}</strong> {{content}}
        </div>
        {{/message}}
    
        <form class="form-vertical" method="post" action="/contact">
          <fieldset>
            {{#errors}}
              {{#errors.name}}<div class="control-group error">{{/errors.name}}
              {{^errors.name}}<div class="control-group">{{/errors.name}}
            {{/errors}}
            {{^errors}}<div class="control-group">{{/errors}}
              <label class="control-label" for="name">Name {{errors.name}}</label>
              <div class="controls">
                <input type="text" class="input-xlarge" id="name" name="name" value="{{data.name}}">
              </div>
            </div>
            {{#errors}}
              {{#errors.email}}<div class="control-group error">{{/errors.email}}
              {{^errors.email}}<div class="control-group">{{/errors.email}}
            {{/errors}}
            {{^errors}}<div class="control-group">{{/errors}}
              <label class="control-label" for="email">Email {{errors.email}}</label>
              <div class="controls">
                <input type="text" class="input-xlarge" id="email" name="email" value="{{data.email}}">
              </div>
            </div>
            {{#errors}}
              {{#errors.message}}<div class="control-group error">{{/errors.message}}
              {{^errors.message}}<div class="control-group">{{/errors.message}}
            {{/errors}}
            {{^errors}}<div class="control-group">{{/errors}}
              <label class="control-label" for="message">Message {{errors.message}}</label>
              <div class="controls">
                <textarea class="input-xlarge" id="message" rows="7" name="message">{{data.message}}</textarea>
              </div>
            </div>
            <div class="form-actions">
              <button type="submit" class="btn btn-primary">Send message</button>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="span4">
        <p>
          On the web:
        </p>
        <ul class="social-icons clearfix">
          <li>
            <a 
              href="mailto:willis.rh@gmail.com" 
              rel="tooltip" 
              title="Email" 
              class="icon icon-social icon-email">
            </a>
          </li>
          <li>
            <a 
              href="https://plus.google.com/114706303546858653968" 
              rel="tooltip" 
              title="Google+" 
              class="icon icon-social icon-googleplus">
            </a>
          </li>
          <li>
            <a 
              href="http://stackoverflow.com/users/492325/badsyntax" 
              rel="tooltip" 
              title="Stack Overflow" 
              class="icon icon-social icon-stackoverflow">
            </a>
          </li>
          <li hidden>
            <a 
              href="http://careers.stackoverflow.com/badsyntax" 
              rel="tooltip" 
              title="Stack Overflow Careers" 
              class="icon icon-social icon-stackoverflow-careers">
            </a>
          </li>
          <li>
            <a 
              href="http://uk.linkedin.com/in/b4d5ynt4x" 
              rel="tooltip" 
              title="LinkedIn"
             class="icon icon-social icon-linkedin">
            </a>
          </li>
          <li>
            <a 
              href="http://github.com/badsyntax" 
              rel="tooltip" 
              title="Github"
              class="icon icon-social icon-github">
            </a>
          </li>
          <li>
            <a 
              href="http://twitter.com/badsyntax" 
              rel="tooltip" 
              title="Twitter" 
              class="icon icon-social icon-twitter">
            </a>
          </li>
          <li>
            <a 
              href="http://forrst.me/badsyntax" 
              rel="tooltip" 
              title="Forrst"
              class="icon icon-social icon-forrst">
            </a>
          </li>
          <li>
            <a 
              href="http://coderwall.com/badsyntax" 
              rel="tooltip" 
              title="Coderwall"
              class="icon icon-social icon-coderwall">
            </a>
          </li>
        </ul>  
      </div> 
    </div>
  </div>
</div>