{{{breadcrumbs}}} 
<div class="container">
  <div class="entry">
    <div class="page-header">
      <h1>{{page.title}}</h1>
    </div>
    {{{page.body}}}
    <hr />
    <footer>
      <section>
        {{page.date}} by Richard Willis
        <span style="float:right">
          <div class="g-plusone" data-size="medium" data-annotation="none"></div>
          <a 
            href="https://twitter.com/share" 
            class="twitter-share-button" 
            data-related="badsyntax: Richard Willis" 
            data-lang="en" 
            data-size="small" 
            data-count="none">
            Tweet
          </a>
        </span>
      </section>
      <section>
        Tagged:
        {{#page.tagModels}}
          <a href="/blog/tag/{{name}}">{{name}}</a>
        {{/page.tagModels}}
      </section>
    </footer>
  </div>
  <div class="entry" style="padding-bottom:12px">
    <div id="disqus_thread">
      <big>
        <button class="btn btn-large" id="view-comments">
          <i class="icon-comment"></i>
          View comments
        </button>
      </big>
    </div>
  </div>  
</div>